@model IEnumerable<ApplicationUser>

@{
    ViewData["Title"] = "List of all Users";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <table class="table">
            <thead>
                <tr class="text-center">
                    <th>@Html.DisplayNameFor(model => model.FullName)</th>
                    <th>@Html.DisplayNameFor(model => model.UserName)</th>
                    <th>@Html.DisplayNameFor(model => model.Email)</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var items in Model)
                {
                    <tr class="text-center">
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => items.FullName)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => items.UserName)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => items.Email)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
